body {
    font-family: sans-serif;
    background-color: black;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
    
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px auto 0px auto;
    display: flex;
    max-width: 1100px
}

article {
    background-color: white;
    padding:17px ;
    width: 400px;
    margin:17px ;
}

.article-but {
    text-decoration: none;
    background-color: RED;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
}

footer {
    background-color: white;
    padding: ;
    display: flex
}

footer a {
    margin-right: ;
    display: flex
}

footer p {
    font-size: 24px;
    display: flex
}
img {
    width: 100%;
    min-height: 270px;
}
